#providers {
    margin: 40px 60px;
}

#providers .container {
    max-width: 540px;
    text-align: center;
    margin: 60px auto;
}

#products {
  min-height: 600px;
  margin-top: 20px;
}

#products .container h2 {
  margin-bottom: 20px;
}